<div class="table-content">
    <!-- <i class="pi pi-home" style="font-size: 2rem" (click)="backToHome()"></i> -->
    <i class="pi pi-power-off" style="font-size: 2rem;float:right" title="Logout" (click)="backToHome(true)"></i>
</div>
<div>
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="right">
            <button pButton pRipple label="New Product" icon="pi pi-plus" class="p-button-success p-mr-2"
                (click)="openNew()"></button>

        </ng-template>

    </p-toolbar>

    <p-table #dt [value]="products" [paginator]="true" [rows]="10" [loading]="loading"
        styleClass="p-datatable-customers" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="450px"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]" [filterDelay]="0"
        [globalFilterFields]="['id','name','description','price','category', 'status', 'quantity']">
        <ng-template pTemplate="caption">
            <div class="table-header">
                List of Products
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" style="text-align: center;padding: 5px;"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search and Filter" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="name">Product <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="description">Description<p-sortIcon field="description"></p-sortIcon>
            </th>
            <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon>
            </th>
            <th pSortableColumn="quantity">Quantity<p-sortIcon field="category"></p-sortIcon>
            </th>
            <th pSortableColumn="price">Price(Rs) <p-sortIcon field="price"></p-sortIcon>
            </th>

            <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th class="action">Action</th>
            <!-- <th pSortableColumn="projectDescription">Project Description <p-sortIcon field="projectDescription">
                </p-sortIcon>
            </th> -->
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.category}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.Price}}</td>
                <td *ngIf="product?.status=='InStock'"><span class='InStock'> In Stock</span> </td>
                <td *ngIf="product?.status=='SoldOut'"><span class='SoldOut'>Sold Out</span> </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil"
                        class="p-button-rounded p-button-success p-mr-2 action-button"
                        (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning action-button"
                        (click)="deleteProduct(product)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No Products found.</td>
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template> -->
    </p-table>

</div>
<p-toast></p-toast>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">

        <div class="p-field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !product.name">Name is required.</small>
        </div>
        <div class="p-field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="product.description" required rows="3"
                cols="20"></textarea>
                <small class="p-invalid" *ngIf="submitted && !product.description">Description is required.</small>
        </div>

        <div class="p-field p-col">
            <label for="status">Status</label>
            <p-dropdown id="status" [options]="productStatus" [(ngModel)]="product.status"></p-dropdown>
            <small class="p-invalid" *ngIf="submitted && !product.status">Status is required.</small>
        </div>

        <div class="p-field">
            <label class="p-mb-3">Category</label>
            <div class="p-formgrid p-grid">
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category1" name="category" value="Fruits" [(ngModel)]="product.category">
                    </p-radioButton>
                    <label for="category1">Fruits</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category2" name="category" value="Vegetables" [(ngModel)]="product.category">
                    </p-radioButton>
                    <label for="category2">Vegetables</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category3" name="category" value="Spices" [(ngModel)]="product.category">
                    </p-radioButton>
                    <label for="category3">Spices</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category4" name="category" value="Dairy" [(ngModel)]="product.category">
                    </p-radioButton>
                    <label for="category4">Dairy</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category5" name="category" value="Grocery" [(ngModel)]="product.category">
                    </p-radioButton>
                    <label for="category5">Grocery</label>
                </div>
            </div>
            <small class="p-invalid" *ngIf="submitted && !product.category">Category is required.</small>
        </div>
        <div class="p-field">
            <label for="quantity">Quantity</label>
            <input type="quantity" pInputText id="quantity" [(ngModel)]="product.quantity" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !product.quantity">Quantity is required.</small>
        </div>

        <div class="p-formgrid p-grid">

            <div class="p-field p-col">
                <label for="Price">Price</label>
                <input type="Price" pInputText id="Price" [(ngModel)]="product.Price" required autofocus />
                <!-- <p-inputNumber id="Price" [(ngModel)]="product.Price" mode="currency" currency="INR" locale="en-IN">
                </p-inputNumber> -->
                <small class="p-invalid" *ngIf="submitted && !product.Price">Price is required.</small>
            </div>

        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text footer-button"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text footer-button"
            (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>